In [1]:
import pandas as pd

In [10]:
results = pd.read_csv("results.txt")
results["pairid"] = results["pairid"].str[4:]
# Filtering to the pairs whose results have been computed
results = results[(results.CorrectACauseB == "1") | (results.CorrectACauseB == "0") ]
results["pairid"] = results["pairid"].astype(int)
results["CorrectACauseB"] = results["CorrectACauseB"].astype(float)
results["CorrectBCauseA"] = results["CorrectBCauseA"].astype(float)
results[:60]

,CorrectACauseB,CorrectBCauseA,pairid,var 1,var 2,dataset,ground truth
0,1.0,1.0,1,Altitude,Temperature,DWD,->
1,1.0,1.0,2,Altitude,Precipitation,DWD,->
2,1.0,1.0,3,Longitude,Temperature,DWD,->
3,1.0,1.0,4,Altitude,Sunshine hours,DWD,->
4,1.0,1.0,5,Age,Length,Abalone,->
5,1.0,1.0,6,Age,Shell weight,Abalone,->
6,1.0,1.0,7,Age,Diameter,Abalone,->
7,1.0,1.0,8,Age,Height,Abalone,->
8,1.0,1.0,9,Age,Whole weight,Abalone,->
9,1.0,1.0,10,Age,Shucked weight,Abalone,->
10,1.0,1.0,11,Age,Viscera weight,Abalone,->
11,1.0,1.0,12,Age,Wage per hour,census income,->
12,1.0,1.0,13,Displacement,Fuel consumption,auto-mpg,->
13,1.0,1.0,14,Horse power,Fuel consumption,auto-mpg,->
14,1.0,1.0,15,Weight,Fuel consumption,auto-mpg,->
15,1.0,1.0,16,Horsepower,Acceleration,auto-mpg,->
16,0.0,1.0,17,Age,Dividends from stocks,census income,->
17,0.0,1.0,18,Age,Concentration GAG,GAGurine (from R package MASS),->
18,1.0,1.0,19,Current duration,Next interval,geyser,->
19,1.0,1.0,20,Latitude,Temperature,DWD,->
20,1.0,1.0,21,Longitude,Precipitation,DWD,->
21,1.0,1.0,22,Age,Height,arrhythmia,->
22,1.0,1.0,23,Age,Weight,arrhythmia,->
23,1.0,1.0,24,Age,Heart rate,arrhythmia,->
24,1.0,0.0,25,Cement,Compressive strength,concrete_data,->
25,1.0,1.0,26,Blast furnace slag,Compressive strength,concrete_data,->
26,1.0,1.0,27,Fly ash,Compressive strength,concrete_data,->
27,1.0,1.0,28,Water,Compressive strength,concrete_data,->
28,1.0,1.0,29,Superplasticizer,Compressive strength,concrete_data,->
29,1.0,1.0,30,Coarse aggregate,Compressive strength,concrete_data,->
30,1.0,1.0,31,Fine aggregate,Compressive strength,concrete_data,->
31,1.0,1.0,32,Age,Compressive strength,concrete_data,->
32,1.0,1.0,33,Alcohol consumption,Mean corpuscular volume,liver disorders,->
33,1.0,1.0,34,Alcohol consumption,Alkaline phosphotase,liver disorders,->
34,1.0,1.0,35,Alcohol consumption,Alanine aminotransferase,liver disorders,->
35,1.0,1.0,36,Alcohol consumption,Aspartate aminotransferase,liver disorders,->
36,1.0,1.0,37,Alcohol consumption,Gamma-glutamyl transpeptdase,liver disorders,->
37,1.0,1.0,38,Age,Body mass index,pima indian diabetes,->
38,1.0,1.0,39,Age,Serum insulin,pima indian diabetes,->
39,1.0,1.0,40,Age,Diastolic blood pressure,pima indian diabetes,->
40,1.0,1.0,41,Age,Plasma glucose concentration,pima indian diabetes,->
41,1.0,1.0,42,Day of the year,Temperature,B.Janzing,->
42,1.0,1.0,43,Temperature at t,Temperature at t+1,ncep-ncar,->
43,1.0,1.0,44,Pressure at t,Pressure at t+1,ncep-ncar,->
44,1.0,1.0,45,Sea level pressure at t,Sea level pressure at t+1,ncep-ncar,->
45,1.0,1.0,46,Relative humidity at t,Relative humidity at t+1,ncep-ncar,->
46,1.0,1.0,47,Number of cars,Type of day,traffic,<-
47,1.0,1.0,48,Indoor temperature,Outdoor temperature,Hipel & Mcleod,<-
48,1.0,1.0,49,Ozone concentration,Temperature,Bafu,<-
49,1.0,1.0,50,Ozone concentration,Temperature,Bafu,<-
50,1.0,1.0,51,Ozone concentration,Temperature,Bafu,<-
64,1.0,0.5,65,Stock return of Hang Seng Bank,Stock return of HSBC Hldgs,Yahoo database,->
85,1.0,1.0,86,Size of apartment,Monthly rent,J.M. Mooij,->
86,1.0,1.0,87,Temperature,Total snow,http://www.mldata.org/repository/data/viewslug...,->
87,1.0,1.0,88,Age,Relative spinal bone mineral density,bone dataset of R ElemStatLearn package,->
88,1.0,1.0,89,root decomposition Oct (grassl),root decomposition Oct (grassl),"Solly et al (2014). Plant and Soil, 382(1-2), ...",<-
89,1.0,1.0,90,root decomposition Oct (forest),root decomposition Oct (forest),"Solly et al (2014). Plant and Soil, 382(1-2), ...",<-
90,1.0,1.0,91,clay cont. in soil (forest),soil moisture,"Solly et al (2014). Plant and Soil, 382(1-2), ...",->
91,1.0,0.0,92,organic carbon in soil (forest),clay cont. in soil (forest),"Solly et al (2014). Plant and Soil, 382(1-2), ...",<-
92,1.0,1.0,93,precipitation,runoff,MOPEX (ftp://hydrology.nws.noaa.gov/pub/gcip/m...,NaN

In [3]:
# Computing accuracy
results["accuracy"] = (results["CorrectACauseB"] + results["CorrectBCauseA"])/2

In [4]:
weights = pd.read_table("pairmeta.txt", sep=" ", header=None, names=["pairid", "v1", "v2", "v3", "v4", "weight"])
weights

     pairid  v1  v2  v3  v4  weight
0         1   1   1   2   2   0.166
1         2   1   1   2   2   0.166
2         3   1   1   2   2   0.167
3         4   1   1   2   2   0.166
4         5   1   1   2   2   0.143
..      ...  ..  ..  ..  ..     ...
103     104   1   1   2   2   0.200
104     105   1   9  10  10   0.500
105     106   2   2   1   1   1.000
106     107   1   1   2   2   1.000
107     108   2   2   1   1   1.000

[108 rows x 6 columns]

In [5]:
dat = pd.merge(results[["pairid", "accuracy"]], weights, on="pairid")
dat

    pairid  accuracy  v1  v2  v3  v4  weight
0        1       1.0   1   1   2   2   0.166
1        2       1.0   1   1   2   2   0.166
2        3       1.0   1   1   2   2   0.167
3        4       1.0   1   1   2   2   0.166
4        5       1.0   1   1   2   2   0.143
..     ...       ...  ..  ..  ..  ..     ...
70     104       1.0   1   1   2   2   0.200
71     105       1.0   1   9  10  10   0.500
72     106       1.0   2   2   1   1   1.000
73     107       1.0   1   1   2   2   1.000
74     108       0.5   2   2   1   1   1.000

[75 rows x 7 columns]

In [8]:
dat["score"] = dat["accuracy"] * dat["weight"]
display(dat)
print("Accuracy", sum(dat["accuracy"])/len(dat))
print("Weighted accuracy", sum(dat["score"])/sum(dat["weight"]))

    pairid  accuracy  v1  v2  v3  v4  weight  score
0        1       1.0   1   1   2   2   0.166  0.166
1        2       1.0   1   1   2   2   0.166  0.166
2        3       1.0   1   1   2   2   0.167  0.167
3        4       1.0   1   1   2   2   0.166  0.166
4        5       1.0   1   1   2   2   0.143  0.143
..     ...       ...  ..  ..  ..  ..     ...    ...
70     104       1.0   1   1   2   2   0.200  0.200
71     105       1.0   1   9  10  10   0.500  0.500
72     106       1.0   2   2   1   1   1.000  1.000
73     107       1.0   1   1   2   2   1.000  1.000
74     108       0.5   2   2   1   1   1.000  0.500

[75 rows x 8 columns]

Accuracy 0.95
Weighted accuracy 0.9237987273138852