In [6]:
import pandas as pd

In [29]:
results = pd.read_csv("results.txt")
results["pairid"] = results["pairid"].str[4:]
results["pairid"] = results["pairid"].astype(int)
results["CorrectACauseB"] = results["CorrectACauseB"].astype(float)
results["CorrectBCauseA"] = results["CorrectBCauseA"].astype(float)

In [30]:
# Computing accuracy
# The first column denotes whether chatGPT answered correctly for the question, "Does A cause B?"
# The second column denotes whether chatGPT answered correctly for the question, "Does B cause A?".
# if the result is 0,1 or 1,0, then we can take a random guess to decide the direction of causation. 
# Therefore, to compute accuracy, we can take the mean of "Does A cause B" and "Does B cause A" questions. 
results["accuracy"] = (results["CorrectACauseB"] + results["CorrectBCauseA"])/2

In [31]:
weights = pd.read_table("pairmeta.txt", sep=" ", header=None, names=["pairid", "v1", "v2", "v3", "v4", "weight"])
weights

/Users/julius/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

     pairid  v1  v2  v3  v4  weight
0         1   1   1   2   2  0.1660
1         2   1   1   2   2  0.1660
2         3   1   1   2   2  0.1670
3         4   1   1   2   2  0.1660
4         5   1   1   2   2  0.1430
5         6   1   1   2   2  0.1430
6         7   1   1   2   2  0.1430
7         8   1   1   2   2  0.1430
8         9   1   1   2   2  0.1430
9        10   1   1   2   2  0.1430
10       11   1   1   2   2  0.1420
11       12   1   1   2   2  0.5000
12       13   1   1   2   2  0.2500
13       14   1   1   2   2  0.2500
14       15   1   1   2   2  0.2500
15       16   1   1   2   2  0.2500
16       17   1   1   2   2  0.5000
17       18   1   1   2   2  1.0000
18       19   1   1   2   2  1.0000
19       20   1   1   2   2  0.1660
20       21   1   1   2   2  0.1670
21       22   1   1   2   2  0.3330
22       23   1   1   2   2  0.3330
23       24   1   1   2   2  0.3340
24       25   1   1   2   2  0.1250
25       26   1   1   2   2  0.1250
26       27   1   1   2   2  0.1250
27       28   1   1   2   2  0.1250
28       29   1   1   2   2  0.1250
29       30   1   1   2   2  0.1250
..      ...  ..  ..  ..  ..     ...
78       79   2   2   1   1  0.3333
79       80   2   2   1   1  0.3334
80       81   1   1   2   2  0.3333
81       82   1   1   2   2  0.3333
82       83   1   1   2   2  0.3334
83       84   2   2   1   1  1.0000
84       85   1   1   2   2  1.0000
85       86   1   1   2   2  1.0000
86       87   1   1   2   2  1.0000
87       88   1   1   2   2  1.0000
88       89   2   2   1   1  0.2500
89       90   2   2   1   1  0.2500
90       91   1   1   2   2  0.2500
91       92   2   2   1   1  0.2500
92       93   1   1   2   2  1.0000
93       94   1   1   2   2  0.3333
94       95   1   1   2   2  0.3333
95       96   1   1   2   2  0.3333
96       97   1   1   2   2  0.2000
97       98   1   1   2   2  0.2000
98       99   2   2   1   1  1.0000
99      100   1   1   2   2  1.0000
100     101   1   1   2   2  0.5000
101     102   1   1   2   2  0.2000
102     103   1   1   2   2  0.2000
103     104   1   1   2   2  0.2000
104     105   1   9  10  10  0.5000
105     106   2   2   1   1  1.0000
106     107   1   1   2   2  1.0000
107     108   2   2   1   1  1.0000

[108 rows x 6 columns]

In [19]:
dat = pd.merge(results[["pairid", "accuracy"]], weights, on="pairid")
dat

Empty DataFrame
Columns: [accuracy, pairid, v1, v2, v3, v4, weight]
Index: []

In [21]:
dat["score"] = dat["accuracy"] * dat["weight"]
display(dat)
print("Accuracy", sum(dat["accuracy"])/len(dat))
print("Weighted accuracy", sum(dat["score"])/sum(dat["weight"]))

NameError: name 'display' is not defined